
<nav class="navbar navbar-expand-lg bg-body-tertiary text-center" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto gap-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/f1Drivers">CHOOSE YOUR DRIVER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/driverChampStatus">CURRENT TOP DRIVER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/fastestDriver">FASTEST DRIVER</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

